## Задание 1
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [12]:
import pandas as pd

In [2]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [3]:
data = pd.read_csv('keywords.csv')

In [4]:
def geo_identife(row):
    for key,value in geo_data.items():
        for i in value:
            if i in row['keyword']:
                return key
    else:
        return 'undefined'

In [5]:
data['region']  = data.apply(geo_identife, axis = 1)

In [6]:
data['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

## Задание 2
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [25]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
def classification(row):
    if (int(row['rating']) <= 2):
        return 'низкий рейтинг'
    elif (int(row['rating']) <= 4):
        return 'средний рейтиг'
    else:
        return 'высокий рейтинг'

In [9]:
ratings['class'] =  ratings.apply(classification, axis=1)

## Задание 3
Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. Ответ дайте в днях.

In [10]:
# считаем скоько оценок проставил каждый пользователь
ratings_fitered = ratings.groupby('userId').count()[['movieId']]

In [11]:
# оставляем пользователей, которые поставили больше 100 оценок 
ratings_fitered = ratings_fitered[ratings_fitered['movieId'] > 100].reset_index()

In [12]:
# делаем список этих поьзователей
list_userId = ratings_fitered['userId'].tolist()

In [13]:
# фильтруем таблицу по этим пользователям
ratings = ratings[ratings['userId'].isin(list_userId)]

In [32]:
# находим min и max timestamp для каждого пользователя 
ratings_grouped = ratings.groupby('userId').agg(['max','min'])['timestamp'].reset_index()

In [41]:
# считает число дней между min и max timestamp для каждого пользователя 
def lifetime(row):
    from datetime import datetime
    date_max = datetime.fromtimestamp(int(row['max']))
    date_min = datetime.fromtimestamp(int(row['min']))
    return (date_max -  date_min).days

In [35]:
ratings_grouped['lifetime'] = ratings_grouped.apply(lifetime, axis = 1)

In [36]:
ratings_grouped

     userId         max         min  lifetime
0         1   965719662   964980499         8
1         4  1007574542   945078428       723
2         6   845556915   845553109         0
3         7  1176181731  1106635416       804
4        10  1455619275  1455301553         3
5        15  1510578158  1299424762      2443
6        17  1326943248  1305696226       245
7        18  1534786448  1455049328       922
8        19   965712882   965701107         0
9        20  1054147519  1054036159         1
10       21  1500702132  1376822671      1433
11       22  1268727474  1268330584         4
12       23  1108703148  1107162524        17
13       24  1458976352  1458940973         0
14       27   965151428   962684796        28
15       28  1277002828  1234334902       493
16       32   856737388   856736119         0
17       33   940422746   939646424         8
18       40   832060442   832058854         0
19       41  1459369130  1458933677         5
20       42   996262677   996212624         0
21       43   848995341   848993627         0
22       45  1193289356   950718561      2807
23       47  1496212183  1496205029         0
24       50  1536870006  1500573696       420
25       51  1231041354  1230928764         1
26       52  1468052169  1468051091         0
27       57   972175891   965795589        73
28       58   847719802   847718380         0
29       59   953611186   953608307         0
..      ...         ...         ...       ...
215     559   868277238   845475789       263
216     560  1478041012  1469647239        97
217     561  1491095811  1491090690         0
218     562  1368897729  1368890721         0
219     563  1450727682  1439932328       124
220     564  1481817955  1478451457        38
221     567  1525374553  1525282012         1
222     570  1181556014  1181475833         0
223     571   966901472   966900003         0
224     572   979924065   945886771       393
225     573  1415676012  1186588677      2651
226     577   945978676   945964946         0
227     580  1212343035  1167673406       517
228     586  1529903653  1529899127         0
229     587   953142295   953136939         0
230     590  1297830498  1258415115       456
231     593  1181008767  1181007064         0
232     594  1138587710  1108798565       344
233     596  1535836102  1535627133         2
234     597   941814564   940360674        16
235     599  1519558046  1498456035       244
236     600  1237859423  1237707766         1
237     601  1521467863  1441639169       923
238     602   840876779   840875507         0
239     603  1002403751   953924711       561
240     605  1277177012  1277094764         0
241     606  1368460577  1171228846      2282
242     607   997847387   963078392       402
243     608  1189563917  1117161730       837
244     610  1495959411  1479541963       190

[245 rows x 4 columns]

In [40]:
# находим среднее значеие lifetime
int(ratings_grouped['lifetime'].mean())

517

## Задание 4
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [1]:
years = [i for i in range(1950,2011)]

In [3]:
import pandas as pd

In [8]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return year
    else:
        return '1900'

In [6]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
movies['year'] = movies.apply(production_year,axis=1)

In [45]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [47]:
ratings.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)

In [49]:
joined = movies.merge(ratings, how ='left', on = 'movieId')

In [51]:
len(movies) == len(joined)

True

In [52]:
joined.head()

,movieId,title,genres,year,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,1.0,4.0,964982703.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,6.0,4.0,845553522.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,1.0,4.0,964981247.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,6.0,3.0,845554349.0
4,5,Father of the Bride Part II (1995),Comedy,1995,6.0,5.0,845553938.0

In [57]:
joined.groupby('year').mean()[['rating']].reset_index().sort_values('rating', ascending=False)

    year    rating
21  1971  3.925532
18  1968  3.845238
1   1951  3.833333
16  1966  3.750000
7   1957  3.742424
5   1955  3.694444
11  1961  3.681818
24  1974  3.681818
26  1976  3.670455
22  1972  3.650000
23  1973  3.635593
9   1959  3.635135
2   1952  3.625000
0   1950  3.619048
8   1958  3.612903
3   1953  3.603448
13  1963  3.589744
17  1967  3.583333
12  1962  3.564103
20  1970  3.562500
19  1969  3.555556
25  1975  3.511905
29  1979  3.500000
31  1981  3.445055
14  1964  3.441860
15  1965  3.436170
30  1980  3.426966
27  1977  3.420635
60  2010  3.372470
53  2003  3.354839
..   ...       ...
4   1954  3.347826
43  1993  3.315657
61  1900  3.313285
45  1995  3.310811
51  2001  3.289831
46  1996  3.286232
10  1960  3.283784
6   1956  3.283333
34  1984  3.277228
56  2006  3.273649
49  1999  3.272031
36  1986  3.269784
54  2004  3.258993
57  2007  3.253521
38  1988  3.250000
28  1978  3.245763
33  1983  3.240964
52  2002  3.232258
58  2008  3.221190
44  1994  3.200422
50  2000  3.191901
40  1990  3.176871
47  1997  3.155769
48  1998  3.151163
39  1989  3.148936
55  2005  3.117647
42  1992  3.096386
37  1987  3.094771
35  1985  3.083333
41  1991  3.075342

[62 rows x 2 columns]